

/* .cart-item-conatiner p {
    padding: 2px;
    font-style: italic;
    color: rgb(106, 106, 194);
  }
  
  .product-container,.product-container1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
  }
  
  .prod-Box {
    margin:5px;
    padding: 10px;
    border: 1px solid rgb(239, 233, 233);
    width: 210px;
    height: 215px;
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
   */
/*   .prod-Box:hover {
    transform: scale(1.1);  
    (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) 
  } */

 /*  .product-price {
    color: rgb(246, 132, 19);
    font-weight: bolder;
    font-family: arial;
  }
  
  .cart-item-container .cart-item-row {
    line-height: 65px;
    text-align: left;
    height: 65px;
    margin-top: 3px;
    padding-left: 20px;
    padding-right: 40px;
    background-color: rgb(248, 245, 241);
  }
  
  .cart-item-container .cart-item-img {
    height: 45px;
  }
  
  .cart-item-quantity {
    height: 22px;
    width: 22px;
    font-size: 13px;
  }
  
  .cart-item-quantity {
    border: none;
    outline: none;
  }
  
  .btn .icon-plus,
  .btn .icon-minus {
    color: green;
    font-size: 19px;
  }
  
  .remove-icon {
    font-size: 22px;
    color: red;
  }
  
  .cart-total-price {
    height: 130px;
    width: auto;
    font-family: roboto;
    font-size: 22px;
    padding: 25px;
    font-weight: bold;
    color: tomato;
  }
  
  .cart-total-price #total-amount {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    color: mediumseagreen;
    font-size: 32px;
  }
  
  .cart-total-price #currency {
    font-family: roboto;
    font-size: 14px;
    color: cornflowerblue;
    line-height: auto;
    height: auto;
  } */

  
  
.btn-primary{
  background:khaki;
  
}

.btn-remove-cart{
  background-color: brown !important;
}

.card {
  padding: 20px;
  margin: 30px;
}

.card img {
  width: 200px;
  height: 200px;
  margin-bottom: 15px;
  transition: 0.3s ease-in-out;
}

.card img:hover {
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
}
